extends ./../layouts/main.jade
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Message
        small Panel
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li.active Chat
    // Main content
    section.content
      // Custom Tabs
      .row
        .col-md-9
          .nav-tabs-custom
            ul.nav.nav-tabs
              li.active
                a(href='#recent', data-toggle='tab') Recent
              li
                a(href='#groups', data-toggle='tab') Groups
              li
                a(href='#project', data-toggle='tab') Project
              li
                a(href='#clients', data-toggle='tab') Clients
              li.pull-right
                button(onclick="window.location.href='#'").btn.btn-primary
                  i.fa.fa-plus 
                  |  New Group
            .tab-content
              #recent.tab-pane.active
                br
                include ./chat.jade
                include ./chat2.jade
                include ./chat2.jade
                include ./chat2.jade
                // recent box end here
              #groups.tab-pane
                // groups block end here
              #project.tab-pane
                // team block end here
              #clients.tab-pane
                // client block end here      
        .col-md-3
          include ./contacts.jade
