extends ./../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Preference
        small Settings
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li.active Preferences
    // Main content
    section.content
      // Custom Tabs
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#tab_1', data-toggle='tab') General
          li
            a(href='#tab_2', data-toggle='tab') Email/Calender
          li
            a(href='#tab_3', data-toggle='tab') Permission
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Management 
              span.caret
            ul.dropdown-menu
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Action
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Another action
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Something else here
              li.divider(role='presentation')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#') Separated link
          li.pull-right
            a.text-muted(href='#')
              i.fa.fa-gear
        .tab-content
          #tab_1.tab-pane.active
            include ./general.jade
          // /.tab-pane
          #tab_2.tab-pane
            | The European languages are members of the same family. Their separate existence is a myth.
            | For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
            | in their grammar, their pronunciation and their most common words. Everyone realizes why a
            | new common language would be desirable: one could refuse to pay expensive translators. To
            | achieve this, it would be necessary to have uniform grammar, pronunciation and more common
            | words. If several languages coalesce, the grammar of the resulting language is more simple
            | and regular than that of the individual languages.
          // /.tab-pane
          #tab_3.tab-pane
            | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            | when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            | It has survived not only five centuries, but also the leap into electronic typesetting,
            | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            | sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            | like Aldus PageMaker including versions of Lorem Ipsum.
          // /.tab-pane
        // /.tab-content
      // nav-tabs-custom
    // /.content
  // /.content-wrapper
block append bootscript
  // Select2
  script(src='/plugins/select2/select2.full.min.js')
  // InputMask 
  script(src='/plugins/input-mask/jquery.inputmask.js')
  script(src='/plugins/input-mask/jquery.inputmask.date.extensions.js')
  // select2 js for input mask
  script(src='/js/select2.js')
  // for Browser file from the Computer
  script(src='/js/browsefile.js')
