extends ./../layouts/main
block append mainhead
  // DataTables
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Projects
        small Overview
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li.active Projects
    // Main content
    section.content
      // Your Page Content Here
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#tab_1', data-toggle='tab') Ongoing
          li
            a(href='#tab_2', data-toggle='tab') Completed
          li.pull-right
            button.btn.bg-aqua
              i.fa.fa-plus 
              |  New Project 
        .tab-content
          #tab_1.tab-pane.active
            include ./ongoing.jade
            // /.box
          // /.tab-pane
          #tab_2.tab-pane
            include ./completed.jade
            // /.box
          // /.tab-pane
        // /.tab-content
      // nav-tabs-custom
    // /.content
  // /.content-wrapper
block append bootscript
  // Datatable 
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  // data table properties
  script(src='/js/datatable.js')
