.box.box-solid
  .box-body
    table.example.table.table-hover
      thead
        tr
          th(style='width: 20px') ID
          th Joined On
          th Name
          th Contact
          th Email Id
          th Birth Date
          th(style='width: 60px') More Info 
      tbody
        tr
          td
            img.pic.direct-chat-img.margin-r-5(src='/img/user3-128x128.jpg', alt='User Image')
          td(style='vertical-align:middle') 21-Dec-2014
          td(style='vertical-align:middle') Ray Tyller
          td(style='vertical-align:middle') 8447718589
          td(style='vertical-align:middle') Ray@botsolve.com
          td(style='vertical-align:middle') 02-May-1993
          td(style='vertical-align:middle; text-align:center')
            button(onclick="window.location.href='#'").btn.btn-default.btn-sm
              i.fa.fa-folder-open
              |  View
  // /.box-body
// /.box
