extends ./../../layouts/main.jade
block append mainhead
  // DataTables
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Contacts
        small Details
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li.active Contacts
    // Main content
    section.content
      // Your Page Content Here
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#colleague', data-toggle='tab') Colleague
          li
            a(href='#client', data-toggle='tab') Client
          li.pull-right
            button(type='button', data-toggle='modal', data-target='.addcontact').btn.bg-teal
              i.margin-r-5.fa.fa-plus-circle 
              |  New
        include ./add.jade
        .tab-content
          #colleague.active.tab-pane
            // Project Description
            include ./colleague.jade
          // /.tab-pane
          #client.tab-pane
            // The Team Role
            include ./client.jade
block append bootscript
  // Datatable 
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  // data table properties
  script(src='/js/datatable.js')
