// TO DO List
.box.box-primary
  .box-header
    h3.box-title To Do List
    .box-tools.pull-right
      ul.pagination.pagination-sm.inline
        li
          a(href='#') «
        li
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#') 3
        li
          a(href='#') »
  // /.box-header
  .box-body
    ul.todo-list
      li
        // checkbox
        input(type='checkbox', class='flat-blue', value='', name='')
        // todo text
        span.text Design a nice theme
        // Emphasis label
        small.label.label-danger
          i.fa.fa-clock-o
          |  2 mins
        // General tools such as edit or delete
        .tools
          i.fa.fa-edit
          i.fa.fa-trash-o
      li
        input(type='checkbox', class='flat-blue', value='', name='')
        span.text Make the theme responsive
        small.label.label-info
          i.fa.fa-clock-o
          |  4 hours
        .tools
          i.fa.fa-edit
          i.fa.fa-trash-o
      li
        input(type='checkbox', class='flat-blue', value='', name='')
        span.text Let theme shine like a star
        small.label.label-warning
          i.fa.fa-clock-o
          |  1 day
        .tools
          i.fa.fa-edit
          i.fa.fa-trash-o
      li
        input(type='checkbox', class='flat-blue', value='', name='')
        span.text Let theme shine like a star
        small.label.label-success
          i.fa.fa-clock-o
          |  3 days
        .tools
          i.fa.fa-edit
          i.fa.fa-trash-o
      li
        input(type='checkbox', class='flat-blue', value='', name='')
        span.text Check your messages and notifications
        small.label.label-primary
          i.fa.fa-clock-o
          |  1 week
        .tools
          i.fa.fa-edit
          i.fa.fa-trash-o
      li
        input(type='checkbox', class='flat-blue', value='', name='')
        span.text Let theme shine like a star
        small.label.label-default
          i.fa.fa-clock-o
          |  1 month
        .tools
          i.fa.fa-edit
          i.fa.fa-trash-o
  // /.box-body
  .box-footer.clearfix.no-border
    button.btn.btn-default.pull-right
      i.fa.fa-plus
      |  Add item
// /.box
