.box-header.with-border
  h5.box-title Role
.box-body.box-profile
  img.profile-user-img.img-responsive.img-circle(src='img/user4-128x128.jpg', alt='User picture')
  h3.profile-username.text-center Nina Mcintire
  p.text-muted.text-center Software Engineer | Project Leader
// /.box-body
hr
.row.row-centered
  .col-sm-2.col-centered
    .box-body.box-profile
      img.profile-user-img.img-responsive.img-circle(src='img/user6-128x128.jpg', alt='User picture')
      h3.profile-username.text-center Adam Carmella
      p.text-muted.text-center Software Engineer | Code Tester
      .box-footer
        ul.nav.nav-stacked
          li
            a(href='#')
              | Module A
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
          li
            a(href='#')
              | Module B
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
          li
            a(href='#')
              | Module C
              span.pull-right.badge.bg-aqua 
                i.fa.fa-circle-o-notch
          li
            a(href='#')
              | Module D
              span.pull-right.badge.bg-aqua 
                i.fa.fa-circle-o-notch
    // /.box-body
  // /.col
  .col-sm-2.col-centered
    .box-body.box-profile
      img.profile-user-img.img-responsive.img-circle(src='img/user1-128x128.jpg', alt='User picture')
      h3.profile-username.text-center Zender Mcintire
      p.text-muted.text-center Software Engineer | UI Designer
      .box-footer
        ul.nav.nav-stacked
          li
            a(href='#')
              | Calc UI
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
          li
            a(href='#')
              | Front-End Numeration
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
          li
            a(href='#')
              | Connect Database
              span.pull-right.badge.bg-aqua 
                i.fa.fa-circle-o-notch
          li
            a(href='#')
              | Smooth transition
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
    // /.box-body
  // /.col
  .col-sm-2.col-centered
    .box-body.box-profile
      img.profile-user-img.img-responsive.img-circle(src='img/user2-160x160.jpg', alt='User picture')
      h3.profile-username.text-center Alexander
      p.text-muted.text-center Software Engineer | C# Coder
      .box-footer
        ul.nav.nav-stacked
          li
            a(href='#')
              | BackEnd Calc code
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
          li
            a(href='#')
              | Numeration code
              span.pull-right.badge.bg-aqua 
                i.fa.fa-circle-o-notch
          li
            a(href='#')
              | Database Setup
              span.pull-right.badge.bg-blue 
                i.fa.fa-check
          li
            a(href='#')
              | Bug Resolve
              span.pull-right.badge.bg-aqua 
                i.fa.fa-circle-o-notch
    // /.box-body
  // /.col
  // /.col
// /.row
