extends ./../../layouts/main
block append mainhead
  // DataTables
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Manage 
        small Control panel
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li.active Skills 
    // Main content
    section.content
      // Your Page Content Here
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#tab_1', data-toggle='tab') Skills Set
          li.pull-right
            button(type='button', data-toggle='modal', data-target='.addskill').btn.bg-teal
              i.margin-r-5.fa.fa-plus-circle 
              |  New
        include ./add.jade
        .tab-content
          #tab_1.tab-pane.active
          // /.content-wrapper
block append bootscript
  // Datatable 
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  // data table properties
  script(src='/js/datatable.js')
  // add skills
  script(src='/js/addevent.js')
