.box-header.with-border
  h3.box-title Details
  // /.box-header
.box-body  
  if error
    if error.username
      - var usererror= error.username
    if error.email
      - var emailerror = error.email
    if error.password
      - var passerror = error.password
  .row.row-centered
    br
    .col-md-3.col-centered(style='vertical-align: middle')
      .box-body.box-profile
        img.profile-user-img.img-responsive.img-circle(src='/img/default-50x50.gif', alt='User profile picture')
        h3.profile-username.text-center Nina Mcintire
      .row.row-centered
        .input-group
          span.input-group-btn
            span.btn.btn-primary.btn-file
              | Browse… 
              input(type='file', accept='image/*')
          input.form-control(type='text', readonly='')
        span.help-block
          | feedback "Define the image size"
        hr
        .description-block
          h5.description-header Nina@companyname.com 
          // <user>@<companyname>.<tdl>
          a(href='#') edit email-Id
        // /.description-block
      // /.col
    .col-xs-6.col-centered(style='vertical-align: middle')
      form.form-horizontal(method="POST" action="/user/add")
        .box-body
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputUsername') User Name
            .col-sm-10
              input#inputUsername.form-control(type='text', placeholder='User Name', name="user[username]" value!= typeof userdata ==="undefined" ? "" : userdata.username)
              if usererror
                span#helpBlock2.help-block!= usererror
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputFirstName') Name
            .col-sm-5
              input#inputFirstName.form-control(type='text', placeholder='First' name="user[fname]" value!= typeof userdata ==="undefined" ? "" : userdata.fname)
              if fnamerror
                span#helpBlock2.help-block!= fnameerror
            .col-sm-5
              input#inputName.form-control(type='text', placeholder='Last' name="user[lname]" value!= typeof userdata ==="undefined" ? "" : userdata.lname)
              if lnamerror
                span.help-block!= lnameerror
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputfirmEmail') Email
            .col-sm-4
              input#inputfirmEmail.form-control(type='text', placeholder='Firm Email Id')
            h5 @companyname.com
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputEmail') Email
            .col-sm-10
              input#inputEmail.form-control(type='email', placeholder='Personal Email Id', name="user[email]")
              if emailerror
                span(id="helpBlock2" class="help-block")!= emailerror
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputContact') Contact
            .col-sm-4
              .input-group
                .input-group-addon
                  i.fa.fa-phone
                input.form-control(type='text', data-inputmask='"mask": "(999) 999-9999"', data-mask='')
              // /.form group
            label.col-sm-2.control-label(for='inputCity') City
            .col-sm-4
              select.form-control.select2
                option Alaska
                option California
                option Delaware
                option Tennessee
                option Texas
                option Washington
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputState') State
            .col-sm-4
              select.form-control.select2
                option Alabama
                option Alaska
                option California
                option Delaware
                option Tennessee
                option Texas
                option Washington
            // /.input group
            label.col-sm-2.control-label(for='inputCountry') Country
            .col-sm-4
              select.form-control.select2
                option Alabama
                option Alaska
                option California
                option Delaware
                option Tennessee
                option Texas
                option Washington
              // /.input group
              // phone mask
          // /.form group
          .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
            label.col-sm-2.control-label(for='inputExtraNotes') Extras
            .col-sm-10
              textarea#inputExtraNotes.form-control(placeholder='Notes .....')
          .form-group
            .col-sm-offset-2.col-sm-10
              .checkbox
                label
                  input(type='checkbox')
                  |  I agree to the 
                  a(href='#') terms and conditions
          .form-group
            .col-sm-offset-2.col-sm-10
              input.btn.btn-default(type="submit" value="Add User")
          // /.box-body
.box-footer
  button.btn.btn-default(type='submit') Cancel
  button.btn.btn-primary.pull-right(type='submit') Save
  // /.box-footer
// /.box
