extends ./../../../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Nadia
        small Details
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li
          a(href='/user') Manage Users
        li.active User Details
    // Main content
    section.content
      // Your Page Content Here
      .row
        .col-md-4
          include ./overview.jade
        // /.col
        .col-md-8
          include ./todolist.jade
      include ./skillgraph.jade
      .row
        .col-md-6
          include ./details.jade
          include ./progress.jade
        .col-md-6
          include ./onproject.jade
          include ./comproject.jade
    // /.content
  // /.content-wrapper
block append bootscript
  // iCheck 
  script(src='/plugins/iCheck/icheck.min.js')
  // icheck click event
  script(src='/js/icheck-blue.js')
  // ChartJS 1.0.1
  script(src='/plugins/chartjs/Chart.min.js')
  // AdminLTE for demo purposes
  script(src='/demo_files/radardemo.js')
