h2.page-header
  i.fa.fa-cubes
  |  Projects
.box.box-primary
  .box-header.with-border
    h3.box-title Ongoing
  // /.box-header
  .box-body
    table.table.table-hover
      tr
        th(style='width: 20px') ID
        th Projects
        th Team
        th(style='width: 20px') Details
      tr
        td(style='vertical-align:middle') 186
        td(style='vertical-align:middle') Update software
        td
          img.direct-chat-img.margin-r-5(src='/img/user2-160x160.jpg', alt='User Image')
          img.direct-chat-img.margin-r-5(src='/img/user7-128x128.jpg', alt='User Image')
          img.direct-chat-img.margin-r-5(src='/img/user2-160x160.jpg', alt='User Image')
          img.direct-chat-img.margin-r-5(src='/img/user7-128x128.jpg', alt='User Image')
        td(style='vertical-align:middle')
          button(onclick="window.location.href='/view-project'").btn.btn-default.btn-sm
            i.fa.fa-folder-open
            |  View
      tr
        td 289
        td Clean database
        td 11-Dec-2014
        td(style='vertical-align:middle')
          button(onclick="window.location.href='/view-project'").btn.btn-default.btn-sm
            i.fa.fa-folder-open
            |  View
      tr
        td 436
        td Cron job running
        td 11-Dec-2014
        td(style='vertical-align:middle')
          button(onclick="window.location.href='/view-project'").btn.btn-default.btn-sm
            i.fa.fa-folder-open
            |  View
      tr
        td 136
        td Fix and squish bugs
        td 11-Dec-2014
        td(style='vertical-align:middle')
          button(onclick="window.location.href='/view-project'").btn.btn-default.btn-sm
            i.fa.fa-folder-open
            |  View
  // /.box-body
// /.box
