extends ./../layouts/main

block content-block
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Dashboard
        small Version 2.0
      ol.breadcrumb
        li
          a(href='#')
            i.fa.fa-dashboard
            |  Home
        li.active Dashboard
    // Main content
    section.content
      // Info boxes
      // Horizontal Form
      .box.box-info
        .box-header.with-border
          h3.box-title Submit Support Ticket
        form.form-horizontal(method="POST" action="/user/add")
          .box-body
            .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Enter Ticket Title
              .col-sm-10
                input.form-control(placeholder="Full Name" type="text" name="Ticket[title]" value!= typeof userdata ==="undefined" ? "" : userdata.name)
                if namerror
                  span(id="helpBlock2" class="help-block")!= nameerror
            .form-group(class= typeof ordernumerror==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Order number
              .col-sm-10
                input.form-control(placeholder="User Name" type="text" name="Ticket[ordernum]" value!= typeof userdata ==="undefined" ? "" : userdata.username)
                if usererror
                  span(id="helpBlock2" class="help-block")!= usererror
            .form-group(class= typeof passerror==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Message
              .col-sm-10
                textarea.form-control(placeholder="Password" rows="9" name="user[password]")
                span(id="helpBlock2" class="help-block")!= passerror
            .form-group(class= typeof emailerror==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Email
              .col-sm-10
                 input.form-control(placeholder="Email" type="Email" name="user[email]")
                 span(id="helpBlock2" class="help-block")!= emailerror
            .form-group
              .col-sm-offset-2.col-sm-10
                input.btn.btn-default(type="submit" value="Add User")
          // /.box-body
          .box-footer
            button.btn.btn-default(type='submit') Cancel
            button.btn.btn-info.pull-right(type='submit') Sign in
          // /.box-footer
      // /.box
