extends ./../../layouts/main
block append mainhead
  // DataTables
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Manage 
        small Control panel
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li.active Users
    // Main content
    section.content
      // Your Page Content Here
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#tab_1', data-toggle='tab') Employees
          li.pull-right
            button(onclick="window.location.href='/manage/users/add'").btn.btn-primary
              i.fa.fa-plus 
              |  New User
        .tab-content
          #tab_1.tab-pane.active
            .box.box-primary
              .box-header
                h3.box-title Overview Data Table
              // /.box-header
              .box-body
                table.example.table.table-bordered.table-striped
                  thead
                    tr
                      th ID
                      th User
                      th Date
                      th Status
                      th Reason
                      th Edit
                      th Delete
                  tbody
                    tr
                      td 183
                      td 
                        a(href='/manage/users/details') John Doe
                      td 11-7-2014
                      td
                        span.label.label-success Approved
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                      td
                        .tools
                          i.fa.fa-pencil
                      td
                        .tools
                          i.fa.fa-trash-o
                    tr
                      td 219
                      td 
                        a(href='/manage/users/details') Alexander Pierce
                      td 11-7-2014
                      td
                        span.label.label-warning Pending
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                      td
                        .tools
                          i.fa.fa-pencil
                      td
                        .tools
                          i.fa.fa-trash-o
                    tr
                      td 657
                      td 
                        a(href='/manage/users/details') Bob Doe
                      td 11-7-2014
                      td
                        span.label.label-primary Approved
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                      td
                        .tools
                          i.fa.fa-pencil
                      td
                        .tools
                          i.fa.fa-trash-o
                    tr
                      td 175
                      td 
                        a(href='/manage/users/details') Mike Doe
                      td 11-7-2014
                      td
                        span.label.label-danger Denied
                      td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                      td
                        .tools
                          i.fa.fa-pencil
                      td
                        .tools
                          i.fa.fa-trash-o
                // /.box-body
              // /.box
            // /.content
          // /.content-wrapper
block append bootscript
  // Datatable 
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  // data table properties
  script(src='/js/datatable.js')
