extends ./../../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Manage Employees
        small Control panel
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li
          a(href='/user') Manage Users
        li.active Users
    // Main content
    section.content
      .row
        .col-xs-12
          .box
            .box-header
              h3.box-title Users
              .box-tools
                .input-group(style='width: 150px;')
                  input.form-control.input-sm.pull-right(type='text', name='table_search', placeholder='Search')
                  .input-group-btn
                    button.btn.btn-sm.btn-default
                      i.fa.fa-search
            // /.box-header
            .box-body.table-responsive.no-padding
              table.table.table-hover
                tr
                  th ID
                  th User
                  th Date
                  th Status
                  th Reason
                  th Edit
                  th Delete
                tr
                  td 183
                  td 
                    a(href='/user-detail') John Doe
                  td 11-7-2014
                  td
                    span.label.label-success Approved
                  td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                  td
                    .tools
                      i.fa.fa-pencil
                  td
                    .tools
                      i.fa.fa-trash-o
                tr
                  td 219
                  td 
                    a(href='/user-detail') Alexander Pierce
                  td 11-7-2014
                  td
                    span.label.label-warning Pending
                  td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                  td
                    .tools
                      i.fa.fa-pencil
                  td
                    .tools
                      i.fa.fa-trash-o
                tr
                  td 657
                  td 
                    a(href='/user-detail') Bob Doe
                  td 11-7-2014
                  td
                    span.label.label-primary Approved
                  td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                  td
                    .tools
                      i.fa.fa-pencil
                  td
                    .tools
                      i.fa.fa-trash-o
                tr
                  td 175
                  td 
                    a(href='/user-detail') Mike Doe
                  td 11-7-2014
                  td
                    span.label.label-danger Denied
                  td Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.
                  td
                    .tools
                      i.fa.fa-pencil
                  td
                    .tools
                      i.fa.fa-trash-o
            // /.box-body
          // /.box
    // /.content
  // /.content-wrapper
