extends ./../layouts/plain.jade
var title= "Login"
block content-body
  body.hold-transition.login-page
    .login-box
      .login-logo
        a(href='/')
          b Admin
          | LTE
      // /.login-logo
      // TODO: UPDATE ME FOR PRODUCTION
      .login-box-body
        p.login-box-msg Sign in to start your session
        form(action='/panel/login', method='post') 
          .form-group.has-feedback(class= typeof err==="undefined" ? "" : "has-error")
            input(type="hidden" name="_csrf" value=_csrf)
            input.form-control(type='text', placeholder='Username' name="username")
            span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback(class= typeof err==="undefined" ? "" : "has-error")
            input.form-control(type='password', placeholder='Password' name="password")
            span.glyphicon.glyphicon-lock.form-control-feedback
          if err
            .row
              span(id="helpBlock2" class="help-block") Email or Password incorrect
          .row
            .col-xs-8
              .checkbox.icheck
                label
                  input(type='checkbox' name="Login[remeber]")
                  |   Remember Me
            // /.col
            .col-xs-4
              button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
            // /.col
        .social-auth-links.text-center
          p - OR -
          a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
            i.fa.fa-facebook
            |  Sign in using Facebook
          a.btn.btn-block.btn-social.btn-google.btn-flat(href='#')
            i.fa.fa-google-plus
            |  Sign in using Google+
        // /.social-auth-links
        a(href='#') I forgot my password
        br
        a.text-center(href='/register') Register a new membership
    // jQuery 2.1.4
    script(src='/plugins/jQuery/jQuery-2.1.4.min.js')
    // Bootstrap 3.3.5
    script(src='/js/bootstrap.min.js')
    // iCheck
    script(src='/plugins/iCheck/icheck.min.js')
    script.
      $(function () {
      $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
      });
      });
