.modal.fade.addcontact
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Add Contact
      .modal-body
        p(style='text-align: center;')  UserName
        input#inputUsername.form-control(type='text', placeholder='Enter User Name here...')
      .modal-footer
        button.btn.btn-default.pull-left(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save
    // /.modal-content
  // /.modal-dialog
// /.modal
