// Contact list  
// Contacts are loaded here
.box.box-warning
  .box-header
    h4 
      i.fa.fa-phone-square
      |  Contacts
    hr
    .has-feedback
      input.form-control(type='text', placeholder='Search...')
      span.fa.fa-search.form-control-feedback
  // /.box-header   
  .box-body  
    ul.contacts-list
      li
        a(href='#')
          img.contacts-list-img(src='/img/user1-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Count Dracula
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-green
                |  Online
            span.contacts-list-msg How have you been? I was...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user7-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Sarah Doe
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-yellow
                |  Away
            span.contacts-list-msg I will be waiting for...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user3-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Nadia Jolie
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-green
                |  Online
            span(style='color: Gray').contacts-list-msg I'll call you back at...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user5-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Nora S. Vans
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-red
                |  Offline
            span.contacts-list-msg Where is your new...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user6-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | John K.
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-red
                |  Offline
            span.contacts-list-msg Can I take a look at...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user8-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Kenneth M.
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-red
                |  Offline
            span.contacts-list-msg Never mind I found...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user1-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Count Dracula
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-green
                |  Online
            span.contacts-list-msg How have you been? I was...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user7-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Sarah Doe
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-yellow
                |  Away
            span.contacts-list-msg I will be waiting for...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user3-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Nadia Jolie
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-green
                |  Online
            span.contacts-list-msg I'll call you back at...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user5-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Nora S. Vans
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-red
                |  Offline
            span.contacts-list-msg Where is your new...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user6-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | John K.
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-red
                |  Offline
            span.contacts-list-msg Can I take a look at...
          // /.contacts-list-info
      // End Contact Item
      li
        a(href='#')
          img.contacts-list-img(src='/img/user8-128x128.jpg')
          .contacts-list-info
            span(style='color: Gray').contacts-list-name
              | Kenneth M.
              small.contacts-list-date.pull-right
                i.fa.fa-circle.text-red
                |  Offline
            span.contacts-list-msg Never mind I found...
          // /.contacts-list-info
      // End Contact Item
