extends ./../../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Overview
        small Details
      ol.breadcrumb
        li
          a(href='#')
            i.fa.fa-dashboard
            |  Level
        li.active Here
    // Main content
    section.content
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#project', data-toggle='tab') Project
          li
            a(href='#team', data-toggle='tab') Team
          li
            a(href='#timeline', data-toggle='tab') Timeline
          li
            a(href='#chat', data-toggle='tab') Chat
        .tab-content
          #project.active.tab-pane
            // Project Description
            include ./description.jade
          // /.tab-pane
          #team.tab-pane
            // The Team Role
            include ./team.jade
          // /.tab-pane
          #timeline.tab-pane
            // The timeline
            include ./timeline.jade
          // /.tab-pane
          #chat.tab-pane
            // The Team group chat
            include ./teamchat.jade
          // /.tab-pane
        // /.tab-content
      // /.nav-tabs-custom
    // /.content
  // /.content-wrapper
