extends ./../../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Projects
        small Overview
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  home
        li.active Projects
    // Main content
    section.content
      // Your Page Content Here
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#tab_1', data-toggle='tab') Ongoing
          li
            a(href='#tab_2', data-toggle='tab') Completed
          li.pull-right
            button.btn.btn-success
              i.fa.fa-plus 
              |  Project 
        .tab-content
          #tab_1.tab-pane.active
            include ongoing
            // /.box
          // /.tab-pane
          #tab_2.tab-pane
            include completed
            // /.box
          // /.tab-pane
        // /.tab-content
      // nav-tabs-custom
    // /.content
  // /.content-wrapper
