extends ./../../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Projects
        small Overview
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  home
        li.active Projects
    // Main content
    section.content
      // Your Page Content Here
      .nav-tabs-custom
        ul.nav.nav-tabs
          li.active
            a(href='#tab_1', data-toggle='tab') Ongoing
          li
            a(href='#tab_2', data-toggle='tab') Completed
          li.pull-right
            button.btn.btn-success
              i.fa.fa-plus 
              |  Project 
        .tab-content
          #tab_1.tab-pane.active
            .box.box-primary
              .box-header
                h3.box-title Data Table With Full Features
              // /.box-header
              .box-body
                table#example1.table.table-bordered.table-striped
                  thead
                    tr
                      th(style='width: 10px') #
                      th Project Name
                      th Started On
                      th Team
                      th(style='width: 40px;') Details
                  tbody
                    tr
                      td 324
                      td
                        | Internet
                        | Explorer 4.0
                      td Win 95+
                      td  
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        span.label.label-success.pull-right 4
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 543
                      td
                        | Internet
                        | Explorer 5.0
                      td Win 95+
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 3
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 235
                      td
                        | Internet
                        | Explorer 5.5
                      td Win 95+
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 6
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 147
                      td
                        | Internet
                        | Explorer 6
                      td Win 98+
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 3
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 983
                      td Opera for Wii
                      td Wii
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 4
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 457
                      td Nokia N800
                      td N800
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        span.label.label-success.pull-right 5
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 123
                      td All others
                      td -
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 1
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                  tfoot
                    tr
                      th #
                      th Project Name
                      th Started On
                      th Team
                      th Details
              // /.box-body
            // /.box
          // /.tab-pane
          #tab_2.tab-pane
            .box.box-primary
              .box-header
                h3.box-title Data Table With Full Features
              // /.box-header
              .box-body
                table#example2.table.table-bordered.table-striped
                  thead
                    tr
                      th(style='width: 10px') #
                      th Project Name
                      th Started On
                      th Team
                      th(style='width: 40px;') Details
                  tbody
                    tr
                      td 324
                      td
                        | Internet
                        | Explorer 4.0
                      td Win 95+
                      td  
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        span.label.label-success.pull-right 4
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 543
                      td
                        | Internet
                        | Explorer 5.0
                      td Win 95+
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 3
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 235
                      td
                        | Internet
                        | Explorer 5.5
                      td Win 95+
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 6
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 147
                      td
                        | Internet
                        | Explorer 6
                      td Win 98+
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 3
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 983
                      td Opera for Wii
                      td Wii
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 4
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 457
                      td Nokia N800
                      td N800
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        img.direct-chat-img.img-bordered-sm(src='/img/user7-128x128.jpg', alt='User Image')
                        span.label.label-success.pull-right 5
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                    tr
                      td 123
                      td All others
                      td -
                      td 
                        img.direct-chat-img.img-bordered-sm(src='/img/user2-160x160.jpg', alt='User Image')
                        span.label.label-success.pull-right 1
                      td(style='vertical-align:middle; text-align:center')
                        button.btn.btn-primary.btn-xs
                          i.fa.fa-folder-open
                          |  View
                  tfoot
                    tr
                      th #
                      th Project Name
                      th Started On
                      th Team
                      th Details
              // /.box-body
            // /.box
          // /.tab-pane
        // /.tab-content
      // nav-tabs-custom
    // /.content
  // /.content-wrapper
