extends ./../../layouts/main
block content-body
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      h1
        | Add User
        small Control panel
      ol.breadcrumb
        li
          a(href='/')
            i.fa.fa-dashboard
            |  Home
        li
          a(href='/user') Manage Users
        li.active Add User
    // Main content
    section.content
      // Info boxes
      // Horizontal Form
      .box.box-info
        .box-header.with-border
          h3.box-title Add New User
        // /.box-header
        // form start
          if error
            if error.username
              - var usererror= error.username
            if error.email
              - var emailerror = error.email
            if error.password
              - var passerror = error.password
        form.form-horizontal(method="POST" action="/user/add")
          .box-body
            .form-group(class= typeof usererro==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Full Name
              .col-sm-10
                input.form-control(placeholder="Full Name" type="text" name="user[name]" value!= typeof userdata ==="undefined" ? "" : userdata.name)
                if namerror
                  span(id="helpBlock2" class="help-block")!= nameerror
            .form-group(class= typeof usererror==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") User Name
              .col-sm-10
                input.form-control(placeholder="User Name" type="text" name="user[username]" value!= typeof userdata ==="undefined" ? "" : userdata.username)
                if usererror
                  span(id="helpBlock2" class="help-block")!= usererror
            .form-group(class= typeof passerror==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Password
              .col-sm-10
                input.form-control(placeholder="Password" type="password" name="user[password]")
                span(id="helpBlock2" class="help-block")!= passerror
            .form-group(class= typeof emailerror==="undefined" ? "" : "has-error")
              label(for="inputEmail3" class="col-sm-2 control-label") Email
              .col-sm-10
                 input.form-control(placeholder="Email" type="Email" name="user[email]")
                 span(id="helpBlock2" class="help-block")!= emailerror
            .form-group
              .col-sm-offset-2.col-sm-10
                input.btn.btn-default(type="submit" value="Add User")
          // /.box-body
          .box-footer
            button.btn.btn-default(type='submit') Cancel
            button.btn.btn-info.pull-right(type='submit') Save
          // /.box-footer
      // /.box
