extends ./../layouts/plain
block prepend content-body
  .chatbox
     .boxbody
       #messages
     .boxfooter
      form.chatform(id="#{roomid}")
        input(type="text" placeholder="Type Message" id="#temp" name="Chat[message]" width="300")
        button.btn.btn-primary#chatsend(type="button") Send #[.fa.fa-send]
   // sails js
